
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>This is Resume Page</h3>
<h3>This is an application</h3>
<h3>This is an application</h3>
<h1>Hiii All</h1>
<h2>Hello</h2>
<p>This is from anil for test</p>
<h1>This is Saurav Kumar Shah</h1>