@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="#pageContent" data-url="/Resume/ShowData" class="ajaxLink" id="ajaxEditForm">Edit Form</a>
    <a href="#pageContent" data-url="/Profile/Preview" class="ajaxLink">Preview</a>
    <a href="#" data-toggle="modal" data-target="#settingsModal" id="settingsBtn">Settings</a>
    @Html.ActionLink("Public Profile", "PublicProfile", new { controller = "Profile", id = Session["UserID"], target = "_blank" })
    <a href="#pageContent" data-url="/Search/GetSearchPartialView" class="ajaxLink" id="btnSearchNav" style="display:none;">Search</a>
    @Html.ActionLink("Log Out", "LogOff", "Account")
</div>


<div id="modal">
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Settings</h4>
                </div>
                <div class="modal-body">
                    <div id="divWorkex" class="[ form-group ]">
                        <!-- checkbox -->
                        <input type="checkbox" name="workex" id="cbWorkex" autocomplete="off" />
                        <div class="[ btn-group ]">
                            <label for="cbWorkex" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span></span>
                            </label>
                            <label for="cbWorkex" class="[ btn btn-default active ]">
                                Work Experience
                            </label>

                        </div>
                    </div><!-- checkbox -->
                    <div id="divProjects" class="[ form-group ]">
                        <!-- checkbox -->
                        <input type="checkbox" name="projects" id="cbProjects" autocomplete="off" />
                        <div class="[ btn-group ]">
                            <label for="cbProjects" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="cbProjects" class="[ btn btn-default active ]">
                                Projects
                            </label>
                        </div>
                    </div><!-- checkbox -->
                    <div class="[ form-group ]">
                        <!-- checkbox -->
                        <input type="checkbox" name="education" id="cbEducation" autocomplete="off" />
                        <div class="[ btn-group ]">
                            <label for="cbEducation" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="cbEducation" class="[ btn btn-default active ]">
                                Educational Details
                            </label>
                        </div>
                    </div><!-- checkbox -->
                    <div class="[ form-group ]">
                        <!-- checkbox -->
                        <input type="checkbox" name="skills" id="cbSkills" autocomplete="off" />
                        <div class="[ btn-group ]">
                            <label for="cbSkills" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="cbSkills" class="[ btn btn-default active ]">
                                Skills
                            </label>
                        </div>
                    </div><!-- checkbox -->
                    <div class="[ form-group ]">
                        <!-- checkbox -->
                        <input type="checkbox" name="contact" id="cbLanguage" autocomplete="off" />
                        <div class="[ btn-group ]">
                            <label for="cbLanguage" class="[ btn btn-default ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="cbLanguage" class="[ btn btn-default active ]">
                                Languages
                            </label>
                        </div>
                    </div><!-- checkbox -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


<div id="main">
    <button class="openbtn" onclick="openNav()">
        ☰ Open Menu
    </button>
</div>

<div id="pageContent"></div>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
