
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="class1">
        <p id="welkfja">
            lksdhflkjsdlfjsdlfkjhfdskjsdlkrjlkwaejfafnlsdflsda
            sdkfljssdfsdfj;lkfdj;lksdf;lsdnf;lksdf;lsdkfnsldkfn;lsdkf;lnaksf;laksdn;flaksdnfna;lksdf
            skjdnf;sdfksdknf;lahsdfliwencakwe;onfs
        </p>
    </div>
    <div class="class2">
        <p>
            DF;LNSDKF;LKFD;NAISLFN;WALKNFD;AWLIE;FAIWEN;FLIANWEIFBW;EAI/FWAIEY.IFWNKANSE.FIWHD.FAWE
            LFNAWEFAIW;LEIFA;IESFWELKAW ELFAWELFKNWLEFBAWEFWBEFIWEAFBWEFIAWEFBAWEB,KJFBWKJEFBJSEF
            FN;LWENVIWAZE.FBWEKFN.AKWE.NLIWNELWE
        </p>
    </div>
</div>