@{
    ViewBag.Title = "Preview";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/preview.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lumen-v3.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>
<div class="preview-card">
    <div class="preview-text">Preview</div>
    @*<i class="glyphicon glyphicon-plus plus-symbol"></i>*@
</div>


