<style>
    tfoot input {
        color: black;
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    #searchTable_filter {
        display: none;
    }
</style>

<table id="searchTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Skills</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Skills</th>
        </tr>
    </tfoot>
</table>
<script src="~/Scripts/ModelScripts/SearchScript.js"></script>

