@model ResumeBuilder.ViewModels.PublicProfileViewModel

@{
    ViewBag.Title = "Preview";
}
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    int id1;
                    var re1 = Int32.TryParse(Session["UserID"] as String, out id1);   
                }
                <span style="display:none;" data-sessionId ="@id1" id="sessionIdFetch"></span>
                @*re = Int32.TryParse(Session["UserID"] as String, out id);*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/preview.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-lumen-v3.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
</head>
<div class="preview-card" data-toggle="modal" data-target="#exampleModal">
    <div class="preview-text">Preview</div>
    @*<i class="glyphicon glyphicon-plus plus-symbol"></i>*@
</div>

@*@section scripts
{
    <script>
        $(document).ready(function () {

            @{
                int ids;
                var res = Int32.TryParse(Session["UserID"] as String, out ids);
            }
            $("body").on("click", "#preview", function (e) {
                e.preventDefault();
                url = $(this).data('url');
                $("#mainDivModal").hide();
                $.get(url, function (data) {
                    $('#previewDiv').replaceWith(data);
                });
                var id = $('#sessionIdFetch').data('sessionId');
            });
            $.ajax({
                url: "/Resume/PreviewUser/"+@ids,
                method: "GET",
                success: function (result) {
                    console.log(result);
                }

            })
        })
    </script>
}*@




