
@{
    ViewBag.Title = "Login";
}

<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
    <div id="formContent">
        
        <div id="loginHeader">
            <div id="divLoginText"><h1 id="loginText">Login</h1></div>
        </div>
        <form>

            <input type="text" id="login" class="fadeIn second userNameField" name="login" placeholder="User Name">
            <input type="password" id="password" class="fadeIn third passwordField" name="login" placeholder="Password"><br>
            <input type="submit" class="fadeIn fourth loginButton" value="Log In">
            <input id="registerButton" type="submit" class="fadeIn fourth registerButton" value="Register">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <div class="underlineHoverForgotPassword">New User! Register above</div>
        </div>
    </div>
</div>
