body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #333;
}

.left-margin {
    padding-left: 10px;
}
.error
{
    color:red;
    font-family:verdana, Helvetica;
    font-weight:lighter;
}

textarea{
    resize:none;
}

.astreik-mark{
    color:red;
    font-size:large;
}

label{
    color:black;
}

.modal-title{
    color:darkblue;
}