body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.css-navbar{
    background-color: #044b54;
}

.navbar-brand{
    color:white;
}
.color-added-for-text {
    color:black;
}

.modal-font-size {
    font-size: 24px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}